* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    background: #323232;
    width: 99%;
    height: 100%;
    text-align: center;
}

table {
    border: 1px #323232;
    background: #fafafa;
    width: 100%;
}

tr {
    border: 1px #323232;
    background: #fafafa;
    height: 50px;
    max-height: 250px;
}

td {
    border: 1px #323232;
}

.headtable {
    background: #323232;
    color: #fafafa;
    font-size: 110%;
}