@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');
html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #151515;
}

.wrap {
    height: 100%;
    width: 100%;
    background-color: #151515;
    align-content: center;
    justify-content: center;
}

.space {
    height: 70px;
    width: 100%;
    background-color: #151515;
    justify-content: center;
    align-content: center;
}

.cover {
    height: 235px;
    width: 165px;
    margin: 10px;
    margin-left: 50px;
    margin-top: 20px;
}

.type {
    text-align: center;
    margin-top: -50px;
    color: #FFF;
    border-radius: 20px 20px 0px 0px;
    float: unset;
    padding: 3px;
    background: rgba(255, 255, 255, 1);
    position: relative;
    font-size: 20px;
    z-index: 999;
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

.peli {
    background: rgba(255, 25, 25, 0.5);
    box-shadow: 0px 0px 10px rgba(255, 25, 25, 1);
    font-size: 180%;
}

.serie {
    background: rgba(255, 210, 9, 0.65);
    box-shadow: 0px 0px 15px rgba(145, 119, 3, 1);
}

.ova {
    background: rgba(25, 25, 225, 0.5);
    box-shadow: 0 0 10px rgba(25, 25, 225, 1);
}

.date {
    text-align: center;
    color: #FFF;
    border-radius: 0px 0px 11px 11px;
    float: unset;
    padding: 3px;
    background: rgba(0, 0, 0, 0.637);
    box-shadow: 0px -15px -15px rgba(59, 67, 72, 1);
    position: relative;
    font-size: 100%;
    z-index: 999;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    text-align: center;
    color: #FFF;
    border-radius: 0px 0px 20px 20px;
    float: unset;
    padding: 3px;
    background: rgba(59, 67, 72, 1);
    box-shadow: 0px 0px 10px rgba(155, 155, 155, 0.51);
    position: relative;
    font-size: 200%;
    z-index: 999;
    text-align: center;
    margin-top: -50px;
    color: #FFF;
    float: unset;
    padding: 3px;
    position: relative;
    z-index: 999;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

.photo {
    align-content: center;
    justify-content: center;
    margin: 10px;
    float: left;
    display: block;
    height: 235px;
    width: 165px;
    margin-right: 50px;
}

.content {
    font-size: 110%;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

.selectmenu {
    border: 0px;
    margin-top: 50px;
    width: 100%;
    height: 110px;
}

.freespace2 {
    width: 100%;
    height: 60px;
    bottom: 0px;
    background: #151515;
    margin: 0px;
    padding: 0px;
}